**/.env
**/.env.*

# Devenv
.devenv/
.devenv.flake.nix

# direnv
.direnv/

# Nix
result

# Dependencies
node_modules/
bun.lock

# Build output
dist/

# Exception: GitHub Actions must have dist/ committed
!actions/*/dist/

# Drizzle
apps/control-plane/drizzle/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
**/backend.tf

# Svelte
**/.svelte-kit
**/build/**
